h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

img{
    width: 80px;
    height: 60px;
}

img:hover{
    cursor: pointer;
}

.cuadro{
    text-align: center;
    height: 40px;
    font-size: 30px;
    background-color: white;
}

.inside{
    display: inline-block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: white;
    width: 400px;
    height: 30px;
}

.inside:hover{
    cursor: pointer;
    color: red;
}

.section{
    display: inline-block;
    color: red;
    background-color: white;
    border: 3px solid red;
    width: 500px;
    height: 350px;
    border-radius: 4px;
}

.nom{
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.amigo{
    color: black;
    font-size: 15px;
    
}
.amigo:hover{
    cursor: pointer;
}

.Linkk{
    color: black;
    text-decoration: none;
}

.Linkk:hover{
    cursor: pointer;
    color: white;
}