h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.campoos{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 25px;
    border: 1px solid white;
}

input{
    width: 500px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
}

select{
    width: 500px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
}

.cuadrado{
    background-color: white;
    text-align: center;
    height: 40px;
    font-size: 30px;
}

.textooo{
    display: inline-block;
    color: black;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 200px;
    height: 32px;
}

.textooo:hover{
    cursor: pointer;
    color: white;
}

.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
}