.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: red;
    width: 400px;
}

.card {
    border: 1px solid red;
    border-radius: 4px;
    height: 140px;
    width: 300px;
    background-color: white;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-content {
    margin-bottom: 10px;
  }
  
  .card-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  